[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gh-md-to-html = {extras = ["offline_conversion"], version = "*"}
openai = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
